.cabecalho
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 13%;
    box-sizing: border-box;
}

.cabecalho__menu
{
    display: none;
}


.cabecalho__link
{
    font-size: 20px;
}

.cabecalho__input
{
    padding: 1rem;
    background-color: var(--cinza);
    border-radius: 0.5rem;
    border: none;
    width: 20%;
    background-image: url("../imagens/localizacao.svg");
    background-repeat: no-repeat;
    background-position: 95% center;    
}

.cabecalho__container
{
    display: flex;
    gap: 2rem;
}